.main-header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.parallax-wrapper {
  height: 100%;
  width: 100%;
  will-change: transform;
}

.parallax-banner {
  position: fixed;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  overflow: hidden;
}

.parallax-layer {
  position: absolute;
  object-fit: cover;
}

.main-content {
  position: relative;
  grid-column: 8 / 12;
  grid-row: 7;
  height: max-content;
  opacity: 0;
}

.main-content-animation {
  animation: scaleUp 1s ease-in-out .1s forwards;
}

.head-booking-btn {
  width: 15em;
  height: 2em;
}

.vibrating {
  animation: vibrating .2s linear infinite;
}

.text-head {
  font-size: var(--head-font-size);
  font-weight: normal;

  text-transform: uppercase;
  color: var(--dark);
}