.navbar {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background-color: var(--light);
  border-bottom: 0.8px solid var(--grey);
  z-index: 1;
  overflow-y: hidden;
}

.navbar-brand {
  grid-column: 1;
  cursor: pointer;
}

.navbar-links-wide {
  grid-column: -1;
}

.nav-logo {
  max-height: 30px;
}

.nav-link {
  margin-right: 30px;

  font-size: 22px;
  text-decoration: none;
  color: var(--black);
  cursor: pointer;
}

.nav-link:hover {
  color: var(--grey);
}

.navbar-contacts {
  font-size: var(--font-size);

  color: var(--black);
}

.navbar-body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column: 1 / -1;
  grid-row: 2 / -1;

  max-height: 0;

  background-color: var(--light);
  opacity: 0;
}

.navbar-links {
  grid-column: 1 / -1;
  grid-row: 1 / 3;
}

.navbar-button {
  grid-column: -1;
}

.navbar-contacts {
  grid-column: 1 / -1;
  grid-row: -1;
}

.navbar-body-show {
  max-height: 70vh;
  height: 100%;
  opacity: 1;
}

.navbar-body-hide {
  max-height: 0;
  opacity: 0;
}

.contact-links {
  color: var(--dark);
  text-decoration: none;
}

.toggle-menu {
  grid-column: 11;
  height: max-content;
  width: 100%;
}

.toggle-menu :nth-child(1), .toggle-menu :nth-child(2) {
  top: 1.1em;
}

.toggle-menu :nth-child(3), .toggle-menu :nth-child(4) {
  top: 1.5em;
}

.toggle-menu :nth-child(5), .toggle-menu :nth-child(6) {
  top: 1.9em;
}

.toggle-menu :nth-child(odd) {
  right: 2em;
}

.toggle-menu :nth-child(2n) {
  right: 2em;
}

.toggle-menu-open :nth-child(1), .toggle-menu-open :nth-child(6) {
  transform: rotate(45deg);
}

.toggle-menu-open :nth-child(2), .toggle-menu-open :nth-child(5) {
  transform: rotate(-45deg);
}

.toggle-menu-open :nth-child(3), .toggle-menu-open :nth-child(4) {
  opacity: 0;
}

.toggle-menu-open :nth-child(1), .toggle-menu-open :nth-child(2) {
  top: 1.5em;
}

.toggle-menu-open :nth-child(5), .toggle-menu-open :nth-child(6) {
  top: 1.5em;
}

.line {
  position: absolute;
  width: 1.4em;
  height: 0.25em;
  border-radius: 1em;

  background-color: var(--dark);
  transition: 0.25s ease-in-out;
}
