.services-flow {
  overflow-x: auto;
}

.services-card {
  min-height: 20%;
  height: 22em;

  flex: 1 0 18rem;
  overflow-y: hidden;

  background-color: var(--white);
  border: 0.5px solid var(--grey);
}

.services-btn {
  width: 18rem;
  height: 2rem;

  color: var(--dark);
  background: none;
  border: 1px solid var(--dark);
}

.services-btn:hover {
  color: var(--light);
  background-color: var(--dark);
}

.image-container {
  overflow: hidden;
}