.team-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, max-content);

  align-content: center;
  justify-content: center;
}

.team-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  justify-content: center;

  grid-row: 2 / -1;
  grid-column: 1 / -1;

  gap: 2em;
}

.team-text {
  grid-column: 3 / 11;
  grid-row: 1 / 1;
}

.team-card {
  width: 100%;
  height: auto;

  background-color: var(--white);
  border: 0.5px solid var(--grey);
}