@import "variables.css";

@font-face {
  font-family: 'TenorSans';
  src: url('../assets/fonts/TenorSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'DidactGothic';
  src: url('../assets/fonts/DidactGothic-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../assets/fonts/Comfortaa-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'PTSerif-Bold';
  src: url('../assets/fonts/PTSerif-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PTSerif-Regular';
  src: url('../assets/fonts/PTSerif-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans-Regular';
  src: url('../assets/fonts/WorkSans-Regular.ttf') format('truetype');
}

/* body * {
  font-family: TenorSans, "Times New Roman", serif;
} */

.parallax-banner {
  height: 100vh;
  background-size: contain;

  will-change: scroll-position;
}

.text {
  font-size: var(--font-size);
  font-weight: normal;
}

.image-container {
  overflow: hidden;
}

.btn-online-booking {
  color: var(--light);
  background: none;
  border: 1px solid var(--light);
}

.head-booking-btn {
  width: 15em;
}

.call-btn {
  width: 10em;
  height: 2em;
}

.btn-online-booking:hover {
  color: var(--dark);
  background-color: var(--light);
}

.btn-online-booking > span {
  width: var(--font-size)
}

.navbar {
  display: grid;
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;

  grid-template-columns: 1fr auto;

  background-color: var(--light);
  z-index: 1000;
  overflow-y: hidden;
}

.navbar-brand {
  grid-row: span -1;
  grid-column: 1 / 2;
}

.nav-logo {
  max-height: 30px;
}

.nav-link {
  margin-right: 20px;

  color: var(--black);
}

.nav-link:hover {
  color: var(--grey);
}

.nav-contacts {
  font-size: var(--font-size);

  color: var(--black);
}

.navbar-body {
  max-height: 0;

  background-color: var(--light);
  opacity: 0;
}

.navbar-body-show {
  max-height: 70vh;
  opacity: 1;
}

.navbar-body-hide {
  max-height: 0;
  opacity: 0;
}

.info-head {
  color: var(--white);
  font-size: var(--head-font-size);
}

.info-text {
  color: var(--white);
}

.map-container {
  width: 60%;
  overflow: hidden;
}

.map {
  width: 100%;
  height: 50vh;

  border: 7px solid var(--light);
}

.booking-btn {
  font-size: var(--font-size);
}

.services-flow {
  overflow-x: auto;
}

.services-card {
  min-height: 20%;
  height: 22em;

  flex: 1 0 18rem;
  overflow-y: hidden;

  background-color: var(--white);
  border: 0.5px solid var(--grey);
}

.services-btn {
  width: 18rem;
  height: 2rem;

  color: var(--dark);
  background: none;
  border: 1px solid var(--dark);
}

.services-btn:hover {
  color: var(--light);
  background-color: var(--dark);
}

.booking-widget {
  position: fixed;
  right: 0;

  width: 30%;

  transition: transform 0.3s ease-in-out;
}

.show-booking {
  transform: translate(0%);
}

.hide-booking {
  transform: translate(100%);
}

.booking-widget > .booking-header {
  height: 100px;

  background-color: var(--light);
}

.interactive-button {
  margin-right: 20px;

  width: 30px;
  height: 30px;
}

.carousel {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  overflow: hidden;
}

.slide {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
  transition: transform 0.5s ease-in-out;
}

.slide img {
  object-fit: cover;
  object-position: center;
}

.active {
  flex: 0 0 100%;
  transform: translateX(0%);
}

.inactive {
  transform: translateX(-100%);
}

.prev, .next {
  position: absolute;
  top: 50%;

  width: 5em;
  height: 5em;

  transform: translateY(-50%);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  color: var(--light);
  opacity: 0;
}

.prev:hover, .next:hover {
  opacity: 0.8;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

@media (min-width: 861px) {
  .videoframe {
    height: 70%;
  }
  section > div > img {
    height: 70%;
  }
}

@media (max-width: 860px) {
  .booking-widget {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .map-container {
    width: 100%;
    padding: 0 !important;
  }

  #info > div {
    justify-content: center !important;
  }
}