@import "variables.css";
@import "pages/bookingWidget.css";
@import "pages/carousel.css";
@import "pages/footer.css";
@import "pages/header.css";
@import "pages/navbar.css";
@import "pages/services.css";
@import "pages/team.css";
@import "pages/video.css";
@import "medias.css";
@import "keyframes.css";

@font-face {
  font-family: 'TenorSans';
  src: url('../assets/fonts/TenorSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../assets/fonts/Comfortaa-VariableFont_wght.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: TenorSans, "Times New Roman", serif;
  background-color: var(--light);
  line-height: normal;
}

h2 {
  font-family: Comfortaa, "Times New Roman", serif;
}

button {
  font-family: Comfortaa, "Times New Roman", serif;
  text-transform: uppercase;
  cursor: pointer;
}

.text-content {
  font-size: var(--font-size);
  font-weight: normal;

  color: var(--dark);
}

.btn-online-booking {
  color: var(--dark);
  background: none;
  border: 1px solid var(--dark);
}

.btn-online-booking:hover {
  color: var(--light);
  background-color: var(--dark);
}

.btn-info-booking {
  color: var(--light);
  background: none;
  border: 1px solid var(--light);

  width: 10em;
}

.btn-info-booking:hover {
  color: var(--dark) !important;
  background-color: var(--light);
}

.booking-btn {
  font-size: var(--btn-font-size);
}

.btn-online-booking > span {
  width: var(--font-size)
}

.interactive-button {
  margin-right: 20px;

  width: 30px;
  height: 30px;
  border: none;
  background-color: var(--light);
  color: var(--dark);
}

.scale-down {
  animation: scaleDown .8s ease-in-out .2s forwards;
}

.scale-up {
  animation: scaleUp .6s ease-in-out .3s forwards;
}

.scale-up-btn {
  animation: scaleUp .6s ease-in-out .6s forwards;
}

.fade-up {
  animation: fadeUp .6s ease-in-out .2s forwards;
}

.fade-down {
  animation: fadeDown .6s ease-in-out .5s forwards;
}

.fade {
  animation: fadeDown .6s ease-in-out .8s forwards;
}

.move-up {
  animation: moveUp .8s ease-in-out .2s forwards;
}

.rotate {
  animation: rotate360 2s linear infinite;
}