:root {
  --white: #ffffff;
  --black: #000000;
  --dark: #222020;
  --grey: rgb(203, 203, 203);
  --light: rgb(248, 248, 248);
  --aqua: #007373;
  --font-size: 1.3em;
  --font-size-nav-mobile: 1.2em;
  --btn-font-size: 1.1em;
  --head-font-size: 2em;
}