:root {
  --white: #ffffff;
  --black: #000000;
  --dark: #141111;
  --grey: rgb(155, 155, 155);
  --light: rgb(248, 248, 248);
  --font-size: 1.3em;
  --btn-font-size: 1.1em;
  --head-font-size: 2em;
}