.header-container {
  background-image: url('./assets/background-header.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.logo {
  max-width: 100%;
  height: auto;
  filter: invert();
}

.description {
  font-size: 1.3em;
  font-family: Georgia, serif;
  color: rgb(233, 229, 229);
}

.image-container {
  overflow: hidden;
}

.btn-online-booking {
  width: 100%;
  height: auto;
}

.custom-offcanvas {
  max-height: 60vh;
}

.custom-offcanvas-body {
  height: 100%;
  overflow-y: auto;
  background-color: black;
}

.offcanvas-color {
  color: white !important;
}

.nav-link {
  font-size: 1.4em;
  font-family: Georgia, serif;
  margin-right: 20px;
  color: black;
}

.nav-link:hover {
  color: rgb(136, 136, 136);
}

.custom-offcanvas-header {
  height: 11.5%;
}

.register {
  font-size: 1.2em;
  font-family: Georgia, serif;
}

.about-paragraph {
  font-size: 1.3em;
  font-family: Georgia, serif;
}

/* .custom-carousel-container {
  max-height: 60%;
  overflow: hidden;
} */
/* 
.custom-carousel-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
} */