@font-face {
  font-family: 'TenorSans';
  src: url('./assets/fonts/TenorSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'DidactGothic';
  src: url('./assets/fonts/DidactGothic-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Comfortaa';
  src: url('./assets/fonts/Comfortaa-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'PTSerif-Bold';
  src: url('./assets/fonts/PTSerif-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PTSerif-Regular';
  src: url('./assets/fonts/PTSerif-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.header-container {
  background-image: url('./assets/background-header.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.logo {
  max-width: 100%;
  height: auto;
  filter: invert();
}

.description {
  font-size: 1.4em;
  font-family: TenorSans, serif;
  font-weight: normal;
  color: rgb(233, 229, 229);
}

.image-container {
  overflow: hidden;
}

.btn-online-booking {
  width: 100%;
  height: auto;
}

.custom-offcanvas-body {
  height: 100%;
  overflow-y: auto;
  background-color: rgb(248, 248, 248);
}

.nav-link {
  font-size: 1.4em;
  font-family: DidactGothic, Comfortaa, serif;
  margin-right: 20px;
  color: black;
}

.nav-link:hover {
  color: rgb(155, 155, 155);
}

.register {
  font-size: 1.2em;
  font-family: TenorSans, serif;
}

.about-paragraph {
  font-size: 1.2em;
  font-family: Comfortaa, serif;
}

.about-h {
  font-family: PTSerif-Bold, serif;
}

.team-description {
  font-family: PTSerif-regular serif;
}

.contacts {
  font-size: 1.4em;
  font-family: DidactGothic, Comfortaa, serif;
  color: white;
}

.contacts-h {
  font-family: PTSerif-Bold, serif;
  color: white;
}

.nav-contacts {
  font-size: 1.4em;
  font-family: DidactGothic, Comfortaa, serif;
  color: black;
}

.custom-offcanvas-header {
  height: 9%;
  background-color: rgb(248, 248, 248);
}

.map {
  width: 100%;
  height: 400px;
  border: 5px solid black;
}